
body { 
  background-color: lightgrey;
 }
 
#middle { 
  max-width: none;
  max-height: none;
  background-color: #F8F9FA;
  border: 2px solid black;
  border-radius: 8px;
  padding: .67em;
}
#ulem,
#msimbo {
  display: flex;
  border: 1px solid red;
  padding: .67em;
  max-width: max-content;
}

.aboutus {
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: max-content;
}

.us   {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
}

h2{
  width: max-content;
}
#footer {
  border: 2px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  
  margin-bottom: 0;

}
#buttons {
  padding: 20px;
}
button {
  border: 1em;
  border-radius: 4px;
  line-height: 2.5;
  padding: 0 20px;
  color: black;
  font-size: 100%;
  background-color: #F8F9FA;
  display: inline-flex;
  margin-right: 10px;
  margin-left: 10px;
} 
/**
.login {
  display: flex;
  border: 1px solid red;
  flex-direction: row;
  justify-content: space-between;
}
.register {
  display: flex; 
  border: 1px solid red;
  justify-content: space-between;
} **/
@media (max-width: 475px) {
  body {
    flex-direction: column;
  }
}